<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <title>index.html</title>
    <style>
        body {
            background-color:black;
            font-family: Arial, sans-serif;
        }

        h1 {
            color:white;
            margin-left:100px;
        }

        .yazi {
            color:white;
        }

        .but, .buto, .brn, .bry {
            background-color:black;
            color:white;
            box-shadow: 0px 0px 30px white;
            width:100px;
            border-radius:5px;
            border-color:white;
        }

        .buto {
            margin-left:25px;
        }

        .brn {
            margin-left:25px;
        }

        .bry {
            margin-left:130px;
            margin-top:100px;
        }
    </style>
</head>
<body>
    <h1>Hoşgeldiniz</h1>
    <a href="gelismis.html"><button class="but">Ana Sayfa</button></a>
    <a href="kodlama-video.html"><button class="buto">Kodlama</button></a>
    <a href="hakkimizda.html"><button class="brn">Hakkımızda</button></a>

    <br><br>
    <p class="yazi"><b>Site kendi içinde yenilenecektir, uzun sürerse kusurumuza bakmayınız</b></p>
    <br>
    <a href="iletisim.html"><button class="bry">İletişim</button></a>
</body>
</html>

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <title>Kodlama Videoları</title>
    <style>
        body {
            background-color:black;
            font-family: Arial, sans-serif;
        }

        h1, h2, p {
            color:white;
        }

        .pry {
            background-color:black;
            color:blue;
            border-radius:6px;
            border-color:blue;
            box-shadow: 0px 0px 20px blue;
            width: 70px;
        }

        .brt, .bry, .bre, .bru {
            background-color:black;
            color:white;
            box-shadow: 0px 0px 30px white;
            width:100px;
            border-radius:5px;
            border-color:white;
        }

        .bry, .bre {
            margin-left:25px;
        }

        .bru {
            margin-left:130px;
            margin-top:100px;
        }

        h1 {
            margin-left:50px;
        }
    </style>
</head>
<body>
    <h1>Kodlama Videoları</h1>
    <a href="gelismis.html"><button class="brt">Ana Sayfa</button></a>
    <button class="bry">Kodlama</button>
    <a href="hakkimizda.html"><button class="bre">Hakkımızda</button></a>

    <p>Kod yazarken çektiğim videolar;</p>
    <br>
    <a href="video.mp4"><button class="pry">Video 1</button></a>
    <br><br>
    <a href="iletisim.html"><button class="bru">İletişim</button></a>
</body>
</html>

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <title>İletişim</title>
    <style>
        body {
            background-color:black;
            font-family: Arial, sans-serif;
        }

        h1 {
            color:white;
            margin-left:120px;
        }

        p, label {
            color:white;
        }

        .but, .buto, .brn, .trw, .yre, .res, .sub {
            background-color:black;
            color:white;
            border-radius:4px;
            border-color:white;
        }

        .but, .buto, .brn {
            box-shadow: 0px 0px 30px white;
            width:100px;
            border-radius:5px;
        }

        .buto, .brn {
            margin-left:25px;
        }

        .trw, .yre {
            width:300px;
            margin-left:27px;
        }

        .res, .sub {
            width:60px;
            margin-left:20px;
        }
    </style>
</head>
<body>
    <h1>İletişim</h1>
    <a href="gelismis.html"><button class="but">Ana Sayfa</button></a>
    <a href="kodlama-video.html"><button class="buto">Kodlama</button></a>
    <a href="hakkimizda.html"><button class="brn">Hakkımızda</button></a>

    <p><b>Sitemizdeki eksiklikler veya şikayetler için mail veya form oluşturabilirsiniz</b></p>
    <br>
    <p>Gmailimiz: "kaganabdullah52@gmail.com"</p>
    <br>
    <p><b>FORM OLUŞTURABİLİRSİNİZ</b></p>

    <form action="https://api.web3forms.com/submit" method="POST">
        <input type="hidden" name="access_key" value="3553e7ef-ccd4-4366-a380-2ef6ec0e3b3e">
        <label for="email">E-Mailiniz</label>
        <input class="trw" type="email" name="email" id="email">
        <br><br>
        <label for="text">Şikayet/Öneri</label>
        <input class="yre" type="text" name="Text" id="text">
        <br><br><br>
        <input class="res" type="reset"> 
        <input class="sub" type="submit" value="Gönder">
    </form>
</body>
</html>

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <title>Hakkımızda</title>
    <style>
        body {
            background-color:black;
            font-family: Arial, sans-serif;
        }

        h1, p {
            color:white;
        }

        .but, .buto, .brn, .bry {
            background-color:black;
            color:white;
            box-shadow: 0px 0px 30px white;
            width:100px;
            border-radius:5px;
            border-color:white;
        }

        .buto, .brn {
            margin-left:25px;
        }

        .bry {
            margin-left:130px;
            margin-top:100px;
        }

        h1.ytr {
            margin-left:100px;
        }
    </style>
</head>
<body>
    <h1 class="ytr">Hakkımızda</h1>
    <a href="gelismis.html"><button class="but">Ana Sayfa</button></a>
    <a href="kodlama-video.html"><button class="buto">Kodlama</button></a>
    <a href="hakkimizda.html"><button class="brn">Hakkımızda</button></a>

    <p><b>Sadece kendini geliştirmek isteyen bir insan</b></p>
    <a href="iletisim.html"><button class="bry">İletişim</button></a>
</body>
</html>
